$text: #18191F;
$black: #000000;
$white: #ffffff;

$grey: #969FA8;
$bone400: #F5F4F2;
$bone200: #F4F5F6;

$brown500: #755B3E;
$brown300: #A89B85;

$yellow: #FFCC29;
$orange: #FFC278;
$red: #DE5454;
$green: #67DE54;