@import "fonts";
@import "colors";

h1,h2,h3,h4,h5,h6,p {
  font-family: $inter;
}
header {
  .navbar {
    height: 12.5vh;
    padding: 0;
    border-bottom: 1px solid $brown300;
  }
  .banner {
    height: 87.5vh;
    &-title {
      font-size: 4.5em;
      font-weight: bolder;
    }
    &-desc {
      font-weight: 1.05em;
    }

  }
}


.btn-home {
  width: 9.5rem;
}

.btn {
  font-size: 0.9em;
  transition: ease 0.5s;
  font-weight: 500;
  border-radius: 6px;

  &-bone {
    background-color: $bone400;
    color: $brown500;
    &:hover {
      background-color: $brown300;
      color: $white;
    }
  }

  &-basic {
    background-color: $brown500;
    color: $white;
    &:hover {
      background-color: $brown500;
      color: $white;
    }
  }

  :not(.btn-check)+&:active {
    background-color: $brown500;
    color: $white;
    border-color: inherit;
  }
}

.form-control {
  &.in-search {
    border: none;
    background-color: $bone200;
    border-radius: 50px;
    width: 20rem;
  }

  &.isSearch {
    padding-right: calc(1.5em + 0.75rem);
    background-image: url("../img/search-icon.svg");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
  }
  &:focus {
    box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.45);
  }
}